$pointer-roleTable:pointer;
.pointer{
    cursor:$pointer-roleTable;
}
.pagination{
	float: left;
}
.userRoleIcon{
	font-size:20px;
	cursor:pointer;
}
.deleteModal{
	padding-top: 10px;
    border-top: 1px solid #ddd;
    text-align : center;
}
.themeColorOverite{
	background-color:#83d145 !important;
	border-color:#83d145 !important;
}
.tableMinHeight{
	min-height : 510px;
}
.customPaddingAlert{
	padding:0.10rem 1.25rem!important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.addRoleBox {
    border: 1px solid #ddd;
    box-shadow: 6px 7px 6px #888888;
}

//pagination colors:
.page-item.active .page-link {
    background-color: #83d145 !important;
    border-color: #83d145 !important;
}
.table td,th{
  font-size :12px; 
  font-weight :300;
  color:black;
}
.table a{
  color:black;
}
.card-header span{
  color:white;
}
.modal-header h4{
  color:white;
}