<nav class="nav az-navbar fixed-top">
    <a class="navbar-brand" routerLink="/pages/rewards">
        <img src="assets/img/logo/az_logo_full.png" alt="" class="hidden-sm-down" style="height:50px !important" > 
        <img src="assets/img/logo/az_logo.png" alt="" class="hidden-md-up"  style="height:50px !important"> 
    </a>
    <div id="lines" class="transition" (click)="toggleMenu()"></div>
   
   <div style="width:70%" class="custom-title">
        <h3 class="text-center crop" style="padding-left:2%">Rewards Management System</h3>
    </div>

  
    <ul class="nav right-section">
       <div class="dropdown float-right user-menu">
              <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                 <!-- <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">-->
                  <span class="hidden-md-down customuser">Welcome, {{ username }}</span>
              </a>

              <ul class="dropdown-menu">
            <!--      <li class="user-info">
                     <img src="assets/img/users/user.jpg" alt="user-img" class="img-circle user-img">                 
                      <p>
                         Welcome, {{ username }}
                      </p>
                  </li>
                  -->
                 <!--  <a class="dropdown-item" style="cursor: pointer" type="button" (click)="logOut()" ><i class="fa fa-power-off"></i>Log out</a> -->
                    <button  class="dropdown-item btnLogout" (click)="logOut()" style="cursor: pointer;"><i class="fa fa-power-off"></i>&nbsp;Log out</button>
              </ul>
          </div>
    </ul>

</nav>